body {
  color: #444;
}
/* Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://res.cloudinary.com/dqriyfsvh/image/upload/v1689375950/hero-bg_tgzoyy.jpg)
      no-repeat center/cover;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* About Section */

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Footer */

.social-links a {
  text-decoration: none;
  font-size: 20px;
  color: #212529;
}

.list-inline-item a:hover {
  color: #181313;
}

footer .navbar-brand {
  display: inline-block;
  font-size: 20px;
}

/* Card Component */

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Forms */

form input {
  display: block;
}

form textarea {
  display: block;
  resize: none;
}

/* Recipe Detail */

.btn .fa-heart:hover {
  color: red;
}

.recipe-detail-form textarea {
  width: 100%;
}

.btn-primary {
  background-color: #FE5E41;
  border-color: #FE5E41;
}

.btn-primary:hover {
  background-color: #f95336;
  border-color: #FE5E41;
}

.text-primary {
  color: #FE5E41 !important;
}

.btn-outline-primary {
  color: #f95336 !important;
  border-color: inherit;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #f95336 !important;
  border-color: inherit;
}

.bg-info {
  background-color: #47A8BD !important;
}

.bg-info {
  background-color: #4A5859 !important;
}

/* Recipe Form */

.recipe-form {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.recipe-form input {
  border: none;
  border-bottom: 1px solid #444444;
  width: 100%;
}

.recipe-form label {
  color: rgb(108, 117, 125);
  margin-bottom: 10px;
}

.recipe-form textarea {
  width: 100%;
}

.login p:last-of-type {
  display: flex;
  align-items: center;
}

.login p:last-of-type label {
  flex-basis: 25%;
}

.login p:last-of-type input {
  flex-basis: 10%;
}


