{% extends 'base.html' %}

{% block title %} Fitness Meals | {{ user.username }} Profile{% endblock %}

{% block content %}

<h1 class="heading-1 text-center mb-5 mt-5">{{ user.username }} Recipes</h1>
<h2 class="heading-2 mb-3">Public Recipes:</h2>
<div class="row">
  {% if recipes_public %} 
  
  {% for recipe in recipes_public %}
  <div class="col-lg-4 mb-5">
    <div class="card">
      <img
        class="card-img-top"
        src="{{ recipe.image.url }}"
        alt="Card image cap"/>
      <div class="card-body d-flex align-items-stretch flex-column">
        <div
          class="card-likes d-flex align-items center justify-content-between">
          <span class="text-secondary">
            <i class="fa-regular fa-heart"></i>
            <span class="">{{ recipe.total_likes }}</span>
          </span>
          <p class="bg-info text-light p-1">{{ recipe.category }}</p>
        </div>
        <h5 class="card-title">{{ recipe.title }}</h5>
        <p class="text-secondary">Author: {{ recipe.author }}</p>
        <div>
          <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary">
            View Recipe</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  
  {% else %}
  <p>You don’t have any public recipes.</p>
  {% endif %}
</div>
<h2 class="heading-2 mb-3">Draft Recipes:</h2>
<div class="row mb-5">
  {% if recipes_draft %}

  {% for recipe in recipes_draft %}
  <div class="col-lg-4">
    <div class="card">
      <img
        class="card-img-top img-fluid"
        src="{{ recipe.image.url }}"
        alt="Card image cap"/>
      <div class="card-body d-flex align-items-stretch flex-column">
        <div
          class="card-likes d-flex align-items center justify-content-between">
          <span class="text-secondary">
            <i class="fa-regular fa-heart"></i>
            <span class="">{{ recipe.total_likes }}</span>
          </span>

          <p class="bg-info text-light p-1">{{ recipe.category }}</p>
        </div>

        <h5 class="card-title">{{ recipe.title }}</h5>
        <p class="text-secondary">Author: {{ recipe.author }}</p>
        <div>
          <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary">
            View Recipe
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  
  {% else %}
  <p>You don’t have any draft recipes.</p>
  {% endif %}
</div>
{% endblock content %}
